absl-py
altair
argon2-cffi
astor
astunparse
attrs
backcall
base58
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
deepface
defusedxml
entrypoints
filelock
Flask
flatbuffers
fonttools
gast
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
mtcnn
munkres
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
olefile
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pip
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
requests-oauthlib
retina-face
rsa
Send2Trash
setuptools
sip
six
smmap
soupsieve
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
toml
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension
wincertstore
wrapt
zipp
